/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #ffe100ee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.form-container {
    padding: 20px;
}

.form {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.form.active {
    display: block;
}

h2 {
    margin-bottom: 20px;
    color: #050505;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-btn {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-btn:hover {
    background-color: #000000;
}

.form-footer {
    text-align: center;
    margin-top: 10px;
    color: #555;
}

.form-footer a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.form-footer a:hover {
    color: #000000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.home{
    border-radius: 0.5ch;
    display: flex;
    justify-content: center;
    
    
}

.home:hover{
    cursor: pointer;
    opacity: 90%;
}
